.Notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 50px;
    width: 300px;
    height: 30px;
    background-color: #c03d29;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: #ffffff;
    outline: none;
}
