:root {
    --main-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

body {
    margin: 0;
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #303030;
    position: relative;
}

h1,
h2,
h3 {
    margin: 0;
}

.filterInput {
    font-family: cursive;
}
